Checks: >
  -*,
  clang-analyzer-*,
  bugprone-inaccurate-erase,
  bugprone-misplaced-widening-cast,
  bugprone-sizeof-expression,
  bugprone-string-constructor,
  bugprone-suspicious-memset-usage,
  bugprone-use-after-move,
  performance-*,
  -clang-analyzer-cplusplus.NewDeleteLeaks,
  -clang-analyzer-deadcode.DeadStores,
  -clang-analyzer-optin.*,
  -performance-enum-size,
  -performance-no-int-to-ptr,
  -performance-unnecessary-value-param
WarningsAsErrors: '*'
